h1{
    text-decoration: underline;
    text-decoration-color: blue;
}

h2{
    text-decoration: dotted;
    text-decoration-color: black;
    text-decoration-style: dotted;
}

.a{
    margin: 0rem;
    padding: 0rem;
    color: aqua; 
}

ul{
    list-style-type: square;
    color: red;
}

ol{
    list-style-type: lower-roman;
    color: navy;
}